@*
   
*@
@{
    Layout = "_AdminLayout";
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Product</th>
            <th>Current Stock</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Stock @item.UnitName</td>
                <td>
                    @if (item.Stock <= 5)
                    {
                        <span class="badge bg-danger">Low Stock!</span>
                    }
                    else
                    {
                        <span class="badge bg-success">Healthy</span>
                    }
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" onclick="openRestockModal(@item.ProductId)">
                        Restock
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<srcipt>


</srcipt>